import /init.tee.rc

on fs
    symlink /system_root/system /system
    symlink /dev/block/platform/bootdevice/by-name /dev/block/by-name
    export ANDROID_ROOT /system_root

on init
    mkdir /mnt/vendor/persist
    mount ext4 /dev/block/by-name/persist /mnt/vendor/persist rw

on init

    mkdir /vendor/lib64 0700 root root
    mkdir /vendor/lib64/hw 0700 root root
    symlink /vendor/manifest.xml /system_root/system/manifest.xml
    symlink /vendor/lib64/hw/keystore.mt6765.so /vendor/lib64/hw/keystore.oppo6765_19451.so
    symlink /vendor/lib64/hw/gatekeeper.mt6765.so /vendor/lib64/hw/gatekeeper.oppo6765_19451.so

    start hwservicemanager
    start servicemanager
    setprop crypto.ready 1

service logd /sbin/logd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

#Add for OPPO FBE
service hal_cryptoeng_oppo /sbin/vendor.oppo.hardware.cryptoeng@1.0-service
    user root
    group root drmrpc sdcard_rw sdcard_r
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster-3-0 /sbin/android.hardware.keymaster@3.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

on property:hwservicemanager.ready=true
    start hal_cryptoeng_oppo
    start keymaster-3-0
    start gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager

on property:twrp.decrypt.done=true && property:twrp.all.users.decrypted=true
    stop mobicore
    stop hal_cryptoeng_oppo
    stop keymaster-3-0
    stop gatekeeper-1-0
    stop servicemanager
    stop hwservicemanager